<section>
  <div class="row">
    <div class="4u image">
      <img src="../assets/cyiza.jpg" alt="">
    </div>
    <h2 id="about" class="acsented">About Me...</h2>
    <div class="description-div">
      <p class="description about">
        I’m a
        <span>full-stack web developer</span>, specialized in
        <span>Ruby</span> for back-end/API development,
        and a <span>JavaScript</span> for front-end/UI development.
        I build products and tools that solve real user problems,
        and I have fun doing it.
        I like diving into new technologies,
        flipping them upside-down and inside-out to figure out how and why they work.
        I’m a quick study and have an appetite for learning.
      </p>
      <p class="description about">
        Located in <span>Burssels</span>,
        I'm currently looking for web developer opportunities.
        I like companies that are <span>funky and diverse</span>,
        <span>transparent and supportive</span>,
        where people are proud of the work they do.
        If that sounds like someplace you know, <span>get in touch!</span>
      </p>
      <p id="email">
        <a href="mailto:cyiza.patrick@outlook.com" target="_top">cyiza.patrick@outlook.com</a>
      </p>
    </div>
  </div>
</section>