
  <h2 class="acsented">My technoligical stack</h2>

<h3>
  <br>
  Languages I use:
</h3>
<hr>
<section>
  <div class="row">
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/ruby.png" alt="Ruby"/>
      </div>
      Ruby
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/js.png" alt="JavaScript"/>
      </div>
      JavaScript
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/html5.png" alt="HTML5"/>
      </div>
      HTML
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/css.png" alt="CSS"/>
      </div>
      CSS/SCSS/SASS
    </div>
  </div>
  <h3>
    <br>
    Backend framework I use:
  </h3>
  <hr>
  <div class="row">
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/rails.png" alt="Ruby on Rails"/>
      </div>
      Ruby on Rails
    </div>
    <div class="4u">
      <div class="image fit no-shadow">
        <img src="../assets/nodejs.png" alt=""/>
      </div>
    </div>
    Node JS
  </div>
  <h3>
    <br>
    Frontend framework I use:
  </h3>
  <hr>
  <div class="row">
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/vuejs.png" alt=""/>
      </div>
      Vue JS
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/angular.png" alt=""/>
      </div>
      Angular
    </div>
    <div class="2u">
      <div class="image fit no-shadow">
        <img src="../assets/react.svg" alt=""/>
      </div>
      React JS
    </div>
  </div>
</section>