<header>
  <h2>Contact Me</h2>
</header>
<div>
  Via email: <a href="mailto:cyiza.patrick@outlook.com" target="_top">cyiza.patrick@outlook.com</a>
  <br>
  Via <a
  href="https://www.linkedin.com/in/j-patrick-cyiza-67819291/"
  target="_blank">
  LinkedIn <i class="fa fa-linkedin-square"></i>
</a>
</div>