<div id="footer">
  <ul class="techstack">
    <li>My technoligical stack</li>
    <li>
      <img src="../assets/ruby.png" height="65"/>
    </li>
    <li>
      <img src="../assets/js.png" height="65"/>
    </li>
    <li>
      <img src="../assets/html5.png" height="55"/>
    </li>
    <li>
      <img src="../assets/css.png" height="55"/>
    </li>
    <li>
      <img src="../assets/rails.png" height="65"/>
    </li>
    <li>
      <img src="../assets/nodejs.png" height="45"/>
    </li>
    <li>
      <img src="../assets/vuejs.png" height="65"/>
    </li>
    <li>
      <img src="../assets/angular.png" height="65"/>
    </li>
    <li>
      <img src="../assets/react.svg" height="65"/>
    </li>
  </ul>

  <ul class="copyright">
    <li class="footer-icons">
      <a
        href="https://www.linkedin.com/in/j-patrick-cyiza-67819291/"
        target="_blank">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </li>
    <li class="footer-icons">
      <a
        href="https://stackoverflow.com/users/8203251/patrick-cyiza"
        target="_blank">
        <i class="fa fa-stack-overflow"></i>
      </a>
    </li>
    <li class="footer-icons">
      <a
        href="https://github.com/shcyiza"
        target="_blank"
        >
        <i class="fa fa-github-square"></i>
      </a>
    </li>
  </ul>

</div>