<header>
  <h1 class="acsented"><%= dev_fullname %></h1>
  <p>
    Web Developer | Ruby back-end | JS front-end
  </p>
</header>
<a href="#work" class="jumplink pic">
  <img src="../assets/cyiza.jpg" alt="" />
</a>