<header>
  <h1><%= dev_fullname %></h1>
  <p>
    Web Developer | Ruby back-end | JS front-end<br>
    Brussels <br>
    Speak Dutch | French | English
  </p>
</header>
<a href="#work" class="jumplink pic">
  <img src="../assets/cyiza.jpg" alt="" />
</a>