<nav id="nav">
  <h4 class="portfolio">Patrick Cyiza's online portfolio</h4>
  <a href="#me" class="active">
    <i class="fa fa-home"></i>
    <span>Home</span>
  </a>
  <a href="#work">
    <i class="fa fa-code"></i>
    <span>Projects</span>
  </a>
  <a href="#artifacts" class="icon fa-cube">
    <i class="fa fa-cube"></i>
    <span>Technologies</span>
  </a>
  <a href="#about" class="icon fa-heart">
    <i class="fa fa-heart"></i>
    <span>About</span>
  </a>
  <a href="#contact" class="icon fa-envelope">
    <i class="fa fa-envelope"></i>
    <span>Contact</span>
  </a>
</nav>
