<header>
  <h2 class="acsented">Projects</h2>
</header>
<p>
  A selection of fun apps I've made. Ask me about what I'm working on now!
</p>
<section>

  <div class="row">
    <div class="4u">
      <a
        href="http://www.pintrospective.com"
        class="image fit"
        target="_blank">
        <%= image_tag "staffit.png" %>
      </a>
    </div>
    <div class="description-div">
      <h3>StafFit</h3>
      <a href="https://www.staf-fit.com" target="_blank">
        <i class="fa fa-eye"></i> Live
      </a>
      <p class="description">
        A CRM for personal trainer with it's own unique spin.
        Buit with Rails, it's handles the API and the content managment.
        (still heavily in development)
      </p>
      <ul>
        <li>
          ▹ Focus on content managment and custom website creation for the moment.
        </li>
        <li>
          ▹ It's a Rails API to serve multiple websites such as <a href="https://www.kongocoaching.be" target="_blank">KongoCoaching</a>
        </li>
        <li>
          ▹ Almost all model are polymorphic, heavy focus on good proctices and DRY coding.
        </li>
      </ul>
    </div>
  </div> <!-- Close of Pintrospective -->

  <div class="row">
    <div class="4u alt">
      <a
        href="http://chapp-room.herokuapp.com/"
        class="image fit" id="chApp"
        target="_blank">
        <img src="../assets/kongoteam.png" alt="">
      </a>
    </div>
    <div class="description-div alt-description">
      <h3>Kongo Coaching</h3>
      <a
        href="https://www.kongocoaching.be"
        target="_blank">
        <i class="fa fa-eye"></i> Live
      </a>
      <p class="description">
        A web storefront for a coaches consuming <a href="https://www.staf-fit.com" target="_blank">StafFit</a> API's.
      </a>
      </p>
      <ul>
        <li>
          ▹ One page app built with <b>vue.js</b> using <b>vuex</b> and <b>axios</b>
        </li>
        <li>
          ▹ Heavy use of mixins to separate the logic from the styles, so its easily costomisable. Therefore, similar website can be made in less then a day.
        </li>
        <li>
          ▹ Offers multiple ways for the clients to contact the coaches, via the platform <a href="https://www.staf-fit.com" target="_blank">StafFit</a>.
        </li>
      </ul>
    </div>
  </div> <!-- Close of ChApp Room -->

  <div class="row">
    <div class="4u">
      <a
        href="http://do-tha-dang-thang.herokuapp.com"
        class="image fit"
        target="_blank">
        <img src="../assets/monoko.png" alt="">
      </a>
    </div>
    <div class="description-div">
      <h3>Monoko</h3>
      <a
        href="http://http://www.monoko.org"
        target="_blank">
        <i class="fa fa-eye"></i> Live
      </a>
      <p class="description">
        A lingala dictionnary,
        built with Ruby on Rails.
      </p>
      <ul>
        <li>
          ▹ Uses <a href="https://github.com/Casecommons/pg_search" target="_blank">pg_search</a> gem, for word search.
        </li>
        <li>
          ▹ My work was more involve in the efficient CRUD management of thosands of words, definitions and translations.
          Therefore, I built a system user friendly system to CRUD various ressources with xls files import/export.
        </li>
      </ul>
    </div>
  </div> <!-- Close of DTDT -->

  <div class="row">
    <div class="4u alt">
      <a
        href="http://hashtag-battleground.herokuapp.com/"
        class="image fit" id="htbg"
        target="_blank">
        <img src="../assets/wapimail.png" alt="">
      </a>
    </div>
    <div class="description-div alt-description">
      <h3>Wapi mail (still in pre-alfa)</h3>

      <p class="description">
        Create, edit and send your app's transaction mails. Nothing more.
      </p>
      <ul>
        <li>
          ▹ Uses rails for backend and the handle of API request. Vue.js for the front-end to live preview your mail.
        </li>
        <li>
          ▹ The goal is to not code and configure transaction emails for each of your apps and new projects. I'll do it once so you can use it for each of your apps.
        </li>
        <li>
          ▹ Your transactions mail are just one API request away.
        </li>
        <li>
          ▹ Special tools for developpers will be created.
        </li>
      </ul>
    </div>
  </div> <!-- Close of HTBG -->

</section>